<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanggy.user.mapper.UserMapper">
    <resultMap id="userMap" type="com.yanggy.user.entity.User">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER"/>
    </resultMap>

    <select id="findByNameAndPassword" resultMap="userMap">
        select id,name,password,age,sex from users where name = #{username} and password = #{password}
    </select>

    <select id="getUserRoles" parameterType="java.lang.Long" resultType="java.lang.String">
        select r.resource from users u
        join user_role ur
        on u.id = ur.user_id
        join role_resources rr
        on ur.role_id = rr.role_id
        join resources r on r.id = rr.resources_id
        where u.id = #{userId}
    </select>

    <insert id="insertUserRole" parameterType="java.util.List">
        insert into user_role(user_id, role_id) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{userId},#{roleId})
        </foreach>
    </insert>
    
    <select id="selectById" resultMap="userMap">
        SELECT id,name,age,sex,email,phone, avater, create_time, update_time,delete_flag FROM users WHERE id = #{id}
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO users(name,password, age, sex, email, phone,avater) VALUES(#{name},#{password}, #{age}, #{sex}, #{email}, #{phone}, #{avater})
    </insert>

    <select id="findByName" parameterType="java.lang.String" resultMap="userMap">
        select id,name,password,age,sex,avater from users where name = #{username}
    </select>

    <select id="getUserList" resultMap="userMap">
        select id, name,email,phone,sex,age, create_time,avater, update_time,delete_flag from users
        <where>
            <if test="name !=null and name != ''">
                and name = #{name}
            </if>
            <if test="phone !=null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="sex != null and sex != ''">
                and sex = #{sex}
            </if>
            <if test="timeBegin != null and timeBegin != ''">
                and create_time &gt;= #{timeBegin}
            </if>
            <if test="timeEnd != null and timeEnd != ''">
                and create_time &lt;= #{timeEnd}
            </if>
        </where>
        limit #{offset}, #{pageSize}
    </select>

    <select id="countUsers" resultType="java.lang.Integer" parameterType="com.yang.cloud.param.UserParam">
        select count(id) from users
        <where>
            <if test="name !=null and name != ''">
                name = #{name}
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex}
            </if>
        </where>
    </select>

    <update id="update" parameterType="com.yanggy.user.entity.User">
        update users set name = #{name}, age = #{age}, sex = #{sex}, phone = #{phone}, email = #{email},avater = #{avater} where id = #{id}
    </update>

    <update id="deleteUser" parameterType="java.lang.Long">
        UPDATE users set delete_flag = 1 where id = #{userId}
    </update>

    <update id="deleteBatchUser" parameterType="java.util.List">
        UPDATE users set delete_flag = 1
        <where>
            id in
            <foreach collection="list" index="index" item="id" close=")" open="(" separator=",">
                #{id}
            </foreach>
        </where>
    </update>

    <update id="editPassword">
        update users set password = #{password}, update_time = current_time() where id = #{userId}
    </update>

    <update id="updateQpUserInfo" parameterType="java.util.Map">
        update qp_user_info set nickname = #{name} where id = #{id}
    </update>

    <insert id="insertStopWord" parameterType="java.util.Map">
        insert into stop_sensitive_word(word, type) values(#{word}, #{type})
    </insert>
</mapper>